name: Publish Release
on:
  release:
    types:
      - published
jobs:
  build:
    strategy:
      matrix:
        java: [ 17 ]
        os: [ ubuntu-20.04 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Set pre_release
        run: |
          sed -i "s/pre_release=alpha/pre_release=/g" gradle.properties
      - name: make gradle wrapper executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew
      - name: preprocessResources
        run: ./gradlew preprocessResources
      - name: build
        run: ./gradlew build
      - name: Publish Minecraft Mods
        uses: Kir-Antipov/mc-publish@v2.1
        if: ${{ runner.os == 'Linux' && matrix.java == '17' }}
        with:
          modrinth-id: SFO4Ca80
          modrinth-token: ${{ secrets.MODRINTH }}

          curseforge-id: 525510
          curseforge-token: ${{ secrets.CF_API_TOKEN }}

          github-token: ${{ secrets.GITHUB_TOKEN }}

          files-primary: fabricWrapper/build/libs/!(*-@(dev|sources)).jar
          files-secondary: ''

          version-type: release
          changelog: ${{ github.event.release.body }}

          loaders: fabric
          game-versions: "1.14.4\n1.15.2\n1.16.5\n1.17.1\n1.18.2"
          version-resolver: exact

          retry-attempts: 3
          retry-delay: 10000