name: Publish Release
on:
  release:
    types:
      - published
jobs:
  build:
    strategy:
      matrix:
        java: [ 16 ]
        os: [ ubuntu-20.04 ]
        branch: [ 1.16.x, 1.17.x, 1.18.x]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
        with:
          ref: ${{ matrix.branch }}
      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Set build number in codes
        run: |
          sed -i "s/-alpha.114514//g" gradle.properties
      - name: make gradle wrapper executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew
      - name: build
        run: ./gradlew build
      - name: Find correct JAR
        id: findjar
        run: |
          output="$(find build/libs/ ! -name "*-dev.jar" ! -name "*-sources.jar" -type f -printf "%f\n")"
          echo "::set-output name=jarname::$output"
      - name: Upload assets to GitHub
        uses: AButler/upload-release-assets@v2.0
        if: ${{ runner.os == 'Linux' && matrix.java == '16' }}
        with:
          files: build/libs/${{ steps.findjar.outputs.jarname }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload to Curseforge
        uses: itsmeow/curseforge-upload@v3
        if: ${{ runner.os == 'Linux' && matrix.java == '16' }}
        with:
          token: ${{ secrets.CF_API_TOKEN }}
          project_id: 525510
          game_endpoint: minecraft
          file_path: build/libs/${{ steps.findjar.outputs.jarname }}
          changelog_type: markdown
          changelog: ${{ github.event.release.body }}
          # 1.16.5:8203, 1.17:8516, fabric:7499
          game_versions: ${{ fromJson('{"1.16.x":"8203","1.17.x":"8516","1.18.x":"8633"}')[matrix.branch] }}, 7499
          release_type: release
      - name: Upload to Modrinth
        if: ${{ runner.os == 'Linux' && matrix.java == '16' }}
        run: |
          ./gradlew publishModrinth
        env:
          MODRINTH: ${{ secrets.MODRINTH }}